<h1>Welcome to the birthday web app...</h1>
<form action='/save_data' method='post'>
  <div>
    <h2>What is your name?</h2>
    <label for='player_name'></label>
    <input type='text' name='player_name'></input>
  </div>
  <div>
    <h2>When is your birthday?</h2>
    <label for='day'>Day:</label>
    <input type='text' name='day'></input>
  </div>
  <div>
    <label for='month'>Month:</label>
    <input list='months' name='month'>
      <datalist id='month'>
        <option value='January'>
        <option value='February'>
        <option value='March'>
        <option value='April'>
        <option value='May'>
        <option value='June'>
        <option value='July'>
        <option value='August'>
        <option value='September'>
        <option value='October'>
        <option value='November'>
        <option value='December'>
      </datalist>
    <input type='submit'>
  </div>
  <div class='button'>
    <button type='submit'>Go!</button>
  </div>
</form>
