<h1>Welcome to the birthday web app...</h1>
<form action='/save_data' method='post'>
  <div>
    <h2>What is your name?</h2>
    <label for='player_name'></label>
    <input type='text' name='player_name'></input>
  </div>
  <div>
    <h2>When is your birthday?</h2>
    <label for='day'>day:</label>
    <input type='text' name='day'></input>
    <label for='month'>month [change to drop down]:</label>
    <input type='text' name='month'></input>
  </div>
  <div class='button'>
    <button type='submit'>Go!</button>
  </div>
</form>
